body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-image: url("/css/ui/wave.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.flex-grow-1 {
	flex-grow: 1;
}

footer {
	margin-top: auto;
}
