body {
	background-color: #f4f6f9;
	font-family: "Inter", sans-serif;
}
.sidebar {
	height: 100vh;
	background-color: white;
	border-right: 1px solid #e0e0e0;
	padding-top: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Ensures content stretches with logout at the bottom */
}

.sidebar-content {
	flex-grow: 1; /* Ensures the main sidebar content takes available space */
}

.sidebar-logout {
	margin-top: auto;
}

.sidebar-logo {
	max-width: 40px;
	max-height: 40px;
	object-fit: contain;
}
.sidebar-item {
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.sidebar-item:hover {
	background-color: #f0f0f0;
}
.sidebar-item.active {
	background-color: #e6f2ff;
	border-right: 3px solid #007bff;
}
.sidebar-item i {
	margin-right: 10px;
	color: #6c757d;
}
.main-content {
	padding: 20px;
}
.card-metric {
	background-color: white;
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.chart-container {
	background-color: white;
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Night Mode */
body.night-mode {
	background-color: #121212;
	color: #e0e0e0;
}

/* Sidebar */
body.night-mode .sidebar {
	background-color: #1e1e1e;
}

body.night-mode .sidebar-item {
	color: #dcdcdc;
}

body.night-mode .sidebar-item.active {
	background-color: #2e2e2e;
}

/* Improved Hover Effect */
body.night-mode .sidebar-item:hover {
	background-color: #2a2a2a; /* Softer hover color */
	color: #ffffff;
}

/* Main Content */
body.night-mode .card {
	background-color: #181818;
	color: #ffffff;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); /* Added shadow */
}

/* Timeframe Button */
body.night-mode .btn-light {
	background-color: #1e1e1e;
	color: #ffffff;
	border-color: #2e2e2e;
}

body.night-mode .dropdown-menu {
	background-color: #1e1e1e;
	border-color: #2e2e2e;
}

body.night-mode .dropdown-item {
	color: #dcdcdc;
}

body.night-mode .dropdown-item:hover {
	background-color: #2a2a2a;
}

/* Night Mode Toggle Button */
.night-mode-toggle .btn {
	background-color: #121212;
	border-color: #2e2e2e;
	color: #ffffff;
	width: 40px; /* Equal width and height for a perfect circle */
	height: 40px; /* Circle size */
	border-radius: 50%; /* Perfect circle */
	display: flex; /* Flex for centering */
	align-items: center; /* Vertical centering */
	justify-content: center; /* Horizontal centering */
}

body.night-mode #modeIcon {
	color: #ffffff;
	font-size: 20px; /* Adjust icon size for balance inside the circle */
}
